.search-box {
  padding: 15px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 600px;
}

.search-box:focus {
  outline: none;
  box-shadow: 0 0 8px 0px rgb(221, 221, 221);
}
