.sections ul {
  list-style: none;
}

li span.number {
  font-weight: 500;
  font-size: 19px;
}

.toc-level-2 {
  margin-left: 2em;
}

.toc-level-3 {
  margin-left: 4em;
}

.toc-level-4 {
  margin-left: 6em;
}

.toc-level-5 {
  margin-left: 8em;
}
