@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;700&display=swap");

body {
  margin: 0;
  font-family: "Alegreya", serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="text"] {
  font-family: "Alegreya", serif;
  font-weight: 500;
}
